<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
  <div id="app">
    <img src="./image/test.png" alt="">
    <div class="test">
      <input type="text" v-model="id">
      <p v-for="(item, index) in list" :key="item.id">
        {{item.id}}~{{item.name}}
        <span style="margin-left: 20px;" @click="handleRemove(item.id)">删除</span>
      </p>
      <p class="test-btn" @click="handleGetList">发送请求</p>
      <div>
        <input type="text" v-model="name" placeholder="请输入名称">
        <input type="text" v-model="age" placeholder="请输入年龄">
        <p class="test-btn" @click="handleAdd">增加数据</p>
      </div>
    </div>
  </div>
  <script>
    ;new Vue({
      el: '#app',
      data() {
        return {
          id: '',
          list: [],
          name: '',
          age: ''
        }
      },
      methods: {
        handleGetList: function() {
          const that = this
          $.ajax({
            url: '/getData',
            type: 'get',
            data: {
              id: that.id
            },
            success: function(res) {
              that.list = res.result.list
            }
          })
        },
        handleAdd: function() {
          const that = this
          $.ajax({
            url: '/addData',
            type: 'post',
            data: {
              name: that.name,
              age: that.age
            },
            success: function(res) {
              that.handleGetList()
            }
          })
        },
        handleRemove: function(id) {
          const that = this
          $.ajax({
            url: '/removeDate',
            type: 'post',
            data: {
              id: id
            },
            success: function(res) {
              that.handleGetList()
            }
          })
        }
      }
    })
  </script>
</body>
</html>